
.header {
    font-size:60px;
    font-family:  sans-serif;
    text-align: center;
    margin-bottom: 50%;

}
 *{
    text-align: center;
 }



body  {
    background-color: grey;

}

.container {
    margin: none!important
}